version: "3.9"

services:

  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: backend
    restart: always
    # environment:
    #   - NODE_ENV=production
    environment:
    - MONGO_URL=mongodb://mongo:27017/dd_db
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "81:80"
    depends_on:
      - backend

volumes:
  mongo-data: