version: "3.9"

services:

  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    volumes:
      - mongo-data:/data/db

  backend:
    build: .
    container_name: backend
    restart: always
    network_mode: "service:mongo"
    depends_on:
      - mongo

volumes:
  mongo-data: